body{
    font-family: Arial, sans-serif;
    padding: 20px;
}

.productos{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.productos:hover {
    background-color: #f9f9f9;
}

.productos button:active {
    transform: scale(0.95);
    background-color: #ddd;
}

.productos:first-child {
    border-left: 5px solid green;
}

.productos:last-child {
    border-left: 5px solid red;
}